<div id="footer" class="fade">
    <a href="/contact" id="talk">Let's talk, eh?</a>
    <div id="social">
        <a href="https://www.linkedin.com/in/gerry-saporito" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/gerry.saporito" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/gerry_saps4/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>    
    <p>© Copyright 2019 - Gerry Saporito <span id="dash">-</span><br id="noShow"> All rights reserved.</p>
</div>

<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>