<!DOCTYPE html>
<html>
<head>
	<% if (userInfo && userInfo.name) { %>
	<title><%= userInfo.name %></title>
	<% } else { %>
		<title>Welcome!</title>
	<% } %>
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<link rel="stylesheet" href="/stylesheets/footer.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
