<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/createEdit.css">
</head>
<body>
<% include ./partials/navbar %>

<div class="cont">
  <div class="row">
      <h1 style="text-align: center">Choose What to Create</h1>
      <div style="width: 30%; margin: 25px auto;">
            <!-- <div class="form-group">
                  <a href="/create/userInfo" class="btn btn-block btn-primary btn-lg" role="button">Create a New UserInfoObject (Developer Only)</a>
            </div> -->
            <div class="form-group">
                  <a href="/create/experience" class="btn btn-block btn-primary btn-lg" role="button">Create a New Experience</a>
            </div>
            <div class="form-group">
                  <a href="/create/work-experience" class="btn btn-block btn-primary btn-lg" role="button">Create a New Work Experience</a>
            </div>
        <a href="/">Back</a>
      </div>
  </div>
</div>
