<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/createEdit.css">
</head>
<body>
<% include ../partials/navbar %>

<div class="cont">
  <div class="row">
      <h1 style="text-align: center">Create a New Job Experience</h1>
      <div style="width: 30%; margin: 25px auto;">
        <form action="/create/work-experience" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" name="work_experience[company]" placeholder="Company" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="work_experience[date]" placeholder="Date" required>
              </div>
            <div class="form-group">
                <input class="form-control" type="text" name="work_experience[position]" placeholder="Position Title" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="work_experience[description]" placeholder="Job Description" rows="15" required></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="work_experience[link]" placeholder='Link to Company (Include "https://")' required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="work_experience[image]" placeholder='Company Logo Image Source (350x200px, Include "https://")' required>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block">Create</button>
            </div>
        </form>
        <a href="/create">Go Back</a>
      </div>
  </div>
</div>
