<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/createEdit.css">
</head>
<body>
<% include ../partials/navbar %>

<div class="cont">
  <div class="row">
      <h1 style="text-align: center">Create a New userInfo</h1>
      <div style="width: 30%; margin: 25px auto;">
        <form action="/create/userInfo" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" name="userInfo[page]" placeholder="Page Name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="userInfo[name]" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="userInfo[image]" placeholder="Image URL (Include 'https://', Square Image)" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="userInfo[opening]" placeholder="Opening Quote" rows="15" required></textarea>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="userInfo[about]" placeholder="Your About" rows="15" required></textarea>
          </div>
          <div class="form-group">
              <input class="form-control" type="text" name="userInfo[email]" placeholder='Email' required>
          </div>
          <div class="form-group">
              <input class="form-control" type="text" name="userInfo[linkedIn]" placeholder='LinkedIn URL' required>
          </div>
          <div class="form-group">
              <input class="form-control" type="text" name="userInfo[facebook]" placeholder='Facebook URL' required>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Create</button>
          </div>
        </form>
        <a href="/create">Back</a>
      </div>
  </div>
</div>
